.todo-list .list-group-item{
    padding: .5rem 1rem;
    margin-bottom: 15px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 0;
    cursor:pointer;
    transition: .2s linear;
}
.todo-list .list-group-item:hover{
    background-color:  #ebebeb;
}